[Desktop Entry]
Categories=Utility;Security;
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}}
Keywords=Password;Passwort;Vault;Tresor;Bitwarden;Vaultwarden;TOTP;
StartupWMClass={{exec}}
Icon={{icon}}
Name=UwULock
Terminal=false
Type=Application
